.wd-rounded-corners-all-around {

   border-radius: 50px;
   background-color: white;
   color: #D3D3D3;
   width: 95%;
   border: 1px solid  #383838;


}

.wd-search {
    width: 95%;
    height: 50px;
    margin-left:16px;

}

.wd-settings {
    font-size: 25px;
    text-decoration: none;
    stroke-width: 30px;

}


.wd-nav-tabs{
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px;
}

.wd-nav-tabs li{
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 16px;
    margin-right: 16px;
}

.wd-nav-tabs .wd-nav-tab-selected{
    color: white;
    border-bottom: solid 4px rgb(29,161,242);
    text-decoration:none;
    padding-bottom: 16px;

}

.wd-nav-tabs .wd-nav-tab-not-selected{
    color: #D3D3D3;
    text-decoration:none;
}

.wd-title {
    color: rgb(110, 118, 125);
    font-size:13px;
    margin-left: 25px;
    margin-top: 10px;
}

.wd-line{
    border-bottom: 1px solid  #555;

}


.wd-images{
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 16px;
    margin-top: 5px;
    border-radius: 15px

}

a{
text-decoration: none;
}



.wd-small-div{
    height:10px;
     border-bottom: 1px solid  rgb(47, 51, 54);
     margin-left: 16px;
}


.wd-nav-tabs-line{
 border-bottom: 1px solid  rgb(47, 51, 54);

}

.wd-centre-div{

    width:  50%;
    height: 100%;
    font-family: "Arial";
    background-color: white;
    color: black;
    border-left: 1px solid  #D3D3D3;
    border-right: 1px solid  #D3D3D3;

}
.wd-BTS{
width: 100%;
}

.wd-left-div{

    background-color: white;
    color:black;
    height:40px;
    border-bottom: 1px solid  #D3D3D3;



}

.wd-section-border{

    border-left: 1px solid  #555;
    border-right: 1px solid  #555;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid  #555;

}

table{
    width:100%;

}

.wd-logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float:left;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;

}


.button{
background-color:white;
    color:black;
}

.wd-BTS {
            width:100%;
        }

        .wd-image-text {
            position: absolute;
            top:4px;
            left: 4px;
        }

.wd-right-section{
    border-left: 1px solid  #555;
        border-right: 1px solid  #555;
        border-bottom: 1px solid  #555;
        border-top: 1px solid  #555;

}

.wd-left-links{
    color: #D3D3D3;
    text-decoration:none;
    padding-left: 15px;
}


.wd-top-image{
height: 100%;
width: 100%;
position: relative;
}
.wd-image-text {
             position: absolute;
             bottom:4px;
             left: 4px;
         }

.wd-follow-button{
float:right;
padding-top: 10px;
padding-right:5px;
}





body{
    font-family: "Arial";
    background-color: black;
    color: white;
    border-left: 1px solid  rgb(47, 51, 54);
    padding-right: 0px;
    border-right: 1px solid  rgb(47, 51, 54);

}

.wd-line{
    border-bottom: 1px solid  #D3D3D3;
    margin-left: 16px;
    margin-top: 12px;
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid  #D3D3D3;
     border-top: 1px solid  #D3D3D3;
     padding-top: 12px;
}

.wd-page-name{
    font-size:20px;
}

.wd-handle-name{
    font-size:13px;
    color: rgb(47, 51, 54);
}

.wd-profile-image{
    border-radius: 50%;
    diameter: 48px;
    display:inline;
    height: 50px;
    width: 50px;
    float: left;

}
.wd-handlename{
    font-size:15px;
    color: rgb(47, 51, 54);
    display:inline;
    margin-bottom:12px;

}

.wd-profilename{
    font-size:15px;
    color : black;
    display:inline;
    margin-top:12px;
    margin-bottom:12px;
}

.wd-content-img{
    height: 264px;
    width: 504px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 12px;
    margin-left : 12px;
    padding-left: 75px;
    margin-bottom: 12px;

}

.wd-text-content{
    font-size:15px;
    color : black;
    max-width: 506px;
    display:inline;
    margin-top: 12px;
    margin-bottom: 12px;

}

.wd-belowtext{
    font-size:12px;
    color : rgb(47, 51, 54);
    max-width: 504px;
    margin-top:12px;
    margin-left: 12px;
    padding-left: 75px;

}

.wd-heart{
    color: red;
    display: inline;
    margin-top: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 15px;
    padding-left: 75px;

}

.wd-bottom-div{
    display: inline;
    margin-top: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: rgb(47, 51, 54);
    font-size: 15px;
    margin-left: 12px;
    padding-left: 75px;

}

.wd-content-border{
    border-left: 1px solid  rgb(47, 51, 54);
    border-bottom: 1px solid  rgb(47, 51, 54);
    border-right: 1px solid  rgb(47, 51, 54);
    border-top: 1px solid  rgb(47, 51, 54);
    border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
}

.wd-belowtext-title{
        font-size:15px;
        color : black;
        display:inline;
        margin-top:12px;
        margin-bottom:12px;
        padding-left: 85px;
}

.wd-flex-div{
    display:flex;
}

.wd-paddingtop{
    float:left ;
    padding-right:12px;
    padding-left:10px;
}

.wd-floattop{
    float:left;
}