.wd-rounded-corners-all-around {

   border-radius: 50px;
   background-color: white;
   color: #D3D3D3;
   width: 90%;
   height: 50%;
   margin-right: 12px;
   border: 1px solid  #383838;
}

.wd-search {
    width: 100%;
    height: 50px;
    margin-left:16px;

}

.wd-settings {
    color: #1F51FF;
    font-size: 25px;
    text-decoration: none;
    padding-top: 60px;
    margin-top: 25px;
}


.wd-nav-tabs{
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px
}

.wd-nav-tabs li{
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 16px;
    margin-right: 16px;
}

.wd-nav-tabs .wd-nav-tab-selected{
    color: white;
    border-bottom: solid 4px rgb(29,161,242);
    text-decoration:none;
    padding-bottom: 16px;

}

.wd-nav-tabs .wd-nav-tab-not-selected{
    color: #D3D3D3;
    text-decoration:none;
}

.wd-title {
    color: rgb(110, 118, 125);
    font-size:13px;
    margin-left: 25px;
    margin-top: 10px;
}

.wd-line{
    border-bottom: 1px solid  #D3D3D3;
        min-height: 120px;
}


.wd-images{
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 16px;
    margin-top: 5px;
    border-radius: 15px

}

a{
text-decoration: none;
}



.wd-small-div{
    height:10px;
     border-bottom: 1px solid  rgb(47, 51, 54);
     margin-left: 16px;
}


.wd-nav-tabs-line{
 border-bottom: 1px solid  rgb(47, 51, 54);

}

.wd-centre-div{
    float: centre;
    width:  50%;
    height: 100%;
    font-family: "Arial";
    background-color: white;
    color: black;
    border-left: 1px solid  #D3D3D3;
    border-right: 1px solid  #D3D3D3;

}
.wd-BTS{
width: 100%;
}

.wd-left-div{

    background-color: white;
    color:black;
    height:40px;
    border-bottom: 1px solid  #D3D3D3;



}

.wd-section-border{

    border-left: 1px solid  #D3D3D3;
    border-right: 1px solid  #D3D3D3;
    margin-left: 0px;
    margin-right: 0px;

}

table{
    width:100%;

}

.wd-logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float:left;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;

}

body{
        background-color:white;
        color:black;
        font-family: "Arial";
}

.button{
background-color:white;
    color:black;
}

.wd-BTS {
            width:100%;
        }

        .wd-image-text {
            position: absolute;
            top:4px;
            left: 4px;
        }

.wd-right-section{
    background-color: white;
    border-left: 1px solid  #D3D3D3;
        border-right: 1px solid  #D3D3D3;

}

.wd-left-links{
    color: #D3D3D3;
    text-decoration:none;
    padding-left: 15px;
}

@media (min-width: 992px) {
  .bd-highlight-icon {
    overflow: visible;
  }
}

.wd-top-image{
height: 100%;
width: 100%;
position: relative;
}
.wd-image-text {
             position: absolute;
             bottom:4px;
             left: 4px;
         }